name: Build Filebeat Docker Container
on: 
  schedule:
    - cron:  '0 0 * * *'
  workflow_dispatch:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches:
      # - 'main'
      - 'dev'
env:
  MY_DOCKER_REPO: ${{ secrets.DOCKERHUB_ORG }}/filebeat
  MY_QUAY_REPO: quay.io/${{ secrets.QUAY_ORG }}/filebeat
  MY_DOCKER_CONTEXT: ./filebat
  MY_DOCKER_DOCKERFILE: Dockerfile
jobs:
  main:
    strategy:
      matrix:
        VERSION: [7.12.0]
        CONFIG_FILE: [console,file,logstash]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Output git ref sha1
        id: git-sha
        run: echo "EXT_GIT_REF_SHA1=$(git rev-parse HEAD)" >> $GITHUB_ENV

      - name: Setup Docker metadata for dev
        id: meta
        # https://github.com/crazy-max/ghaction-docker-meta
        uses: crazy-max/ghaction-docker-meta@v2
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{env.MY_DOCKER_REPO}}
            ${{env.MY_QUAY_REPO}}
          flavor: |
            latest=false
            prefix=dev-
          # generate Docker tags based on the following events/attributes
          tags: |
            type=raw,value=${{matrix.VERSION}}-${{matrix.CONFIG_FILE}}
            type=raw,value=${{matrix.VERSION}}-${{matrix.CONFIG_FILE}}-${{env.EXT_GIT_REF_SHA1}}

      - name: Setup Docker metadata for prod
        id: metaprod
        uses: crazy-max/ghaction-docker-meta@v2
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{env.MY_DOCKER_REPO}}
            ${{env.MY_QUAY_REPO}}
          flavor: |
            latest=auto
          # generate Docker tags based on the following events/attributes
          tags: |
            type=semver,suffix=-${{matrix.VERSION}}-${{matrix.CONFIG_FILE}},pattern={{version}}
            type=raw,value=${{matrix.VERSION}}-${{matrix.CONFIG_FILE}}
            type=raw,value=latest-${{matrix.CONFIG_FILE}}
            type=raw,value=${{matrix.VERSION}}-${{matrix.CONFIG_FILE}}-${{env.EXT_GIT_REF_SHA1}}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: hub.docker.com login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        if: ${{ github.event_name == 'pull_request' || github.ref == 'refs/heads/dev' || github.ref == 'refs/heads/main' || github.ref == 'refs/tags' }}
      - name: quay.io login
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
        if: ${{ github.event_name == 'pull_request' || github.ref == 'refs/heads/dev' || github.ref == 'refs/heads/main' || github.ref == 'refs/tags' }}

      - name: Build dev docker container and push it as dev container if it is part of a pull_request
        uses: docker/build-push-action@v2
        with:
          context: filebeat/
          push: ${{ github.event_name == 'pull_request' || github.ref == 'refs/heads/dev' }}
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            VERSION=${{matrix.VERSION}}
            CONFIG_FILE=filebeat_config_${{matrix.CONFIG_FILE}}.yml
      
      - name: Build docker container and push it as container if it is part of a pull_request
        uses: docker/build-push-action@v2
        with:
          context: filebeat/
          push: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/tags' }}
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.metaprod.outputs.tags }}
          labels: ${{ steps.metaprod.outputs.labels }}
          build-args: |
            VERSION=${{matrix.VERSION}}
            CONFIG_FILE=filebeat_config_${{matrix.CONFIG_FILE}}.yml